body {
  background-color:#e47171;
  font-family: 'Nobile', sans-serif;
}

/*----------logo---------*/

img {
  width: 4.5%;
  height: 4.5%;
  position: relative;
  left: 20px;
  top: 2.5px;
}

.logo {
  background-color: rgb(19, 18, 18);
  font-weight: 300;
  
}
/*---------HEADER----------*/

header {
  background: rgb(42, 44, 43);
  color: #9b9b23;
 
  position: relative;
}
/*----------NAVBAR---------*/



.site-nav {
  position: absolute;
  top: 100%;
  right: 0;
  background: #464655;
  height: 0px;
  overflow: hidden;
}

.site-nav--open {
  height: auto;
}


.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #575766;

}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #EBEBd3;
  display: block;
  padding: 2em 4em 2em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #e4b363;
  color: #464655;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255,255,255,.4);
}


.menu-toggle {
  padding: 1em;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;

}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #ebebd3;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-7px);
}

.hamburger::after {
  transform: translateY(4px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}